<h1>Items</h1>
<div class='container'>
  <ul>
  <% @items.each do |item|%>
  <li> <%= link_to item.title, item_path(item) %></li>
  <%end%>
  </ul>

  <button  type="button"><%= link_to 'Create a new item', new_item_path%></button>

</div>
