
body {
  background: white;
}
a {
  color: rgba(4, 4, 4, 0.8);
  text-decoration: none;
  &:hover {
    color: rgba(229, 8, 8, 0.8);
    text-decoration: none;
    cursor: pointer;
  }
}

.card {
  background: #222;
  border: 1px solid black;
  color: rgba(250, 250, 250, 0.8);
  margin-bottom: 2rem;
  box-shadow: 2px 2px 2px 1px #4b4a4a;
}

.btn-card {
  border: 5px solid;
  border-image-slice: 1;
  text-decoration: none;
  transition: all .4s ease;
  color:rgba(250, 250, 250, 0.8)
}

.btn:hover, .btn:focus {

  border: 5px solid #fff !important;
  box-shadow: #222 1px 0 10px;
  text-decoration: underline;
}
