.card {
  height: 100%;
}

.card-img-container {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.card-location
{
  color : black
}

.card-img-top {
  height: 100%;
  max-width: 100%;
  object-fit: contain;
}
  
a {
  color: rgba(4, 4, 4, 0.8);
  text-decoration: none;
  &:hover {
    color: rgba(229, 8, 8, 0.8);
    text-decoration: none;
    cursor: pointer;
  }


.row {
  display: flex;
  flex-wrap: wrap;
}

.col-lg-2,
.col-md-3,
.col-sm-4,
.col-6 {
  padding: 10px;
}

.ac-ln-button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  background: #ff4747;
  color: #fff;
  border-radius: 980px;
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  min-width: 23px;
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 4px;
  padding-bottom: 4px;
  --sk-button-margin-horizontal: 10px;
  --sk-button-margin-vertical: 10px;
}

.card-title{
  color: #ff4747;
  font-size: 16px;
}

